@font-face {
    font-family: 'sourcecoderegular';
    src: url('../font/sourcecode/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../font/sourcecode/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}