@font-face {
    font-family: 'titbold';
    src: url('../font/titillium/titillium-bold-webfont.woff2') format('woff2'),
         url('../font/titillium/titillium-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titbolditalic';
    src: url('../font/titillium/titillium-bolditalic-webfont.woff2') format('woff2'),
         url('../font/titillium/titillium-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titregular';
    src: url('../font/titillium/titillium-regular-webfont.woff2') format('woff2'),
         url('../font/titillium/titillium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tititalic';
    src: url('../font/titillium/titillium-regularitalic-webfont.woff2') format('woff2'),
         url('../font/titillium/titillium-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}